.tableCustom {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #ffffff;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.tableCustom table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.tableCustom tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.tableCustom table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.tableCustom table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.tableCustom tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.tableCustom tr:hover td{
	
}
.tableCustom tr:nth-child(odd){ background-color:#efefef; }
.tableCustom tr:nth-child(even)    { background-color:#ffffff; }.tableCustom td{
	vertical-align:middle;
	
	
	border:1px solid #ffffff;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:15px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#444444;
}.tableCustom tr:last-child td{
	border-width:0px 1px 0px 0px;
}.tableCustom tr td:last-child{
	border-width:0px 0px 1px 0px;
}.tableCustom tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.tableCustom tr:first-child td{
		background:-o-linear-gradient(bottom, #ffffff 5%, #dddddd 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #dddddd) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #dddddd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#dddddd");	background: -o-linear-gradient(top,#ffffff,dddddd);

	background-color:#ffffff;
	border:0px solid #ffffff;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:16px;
	font-family:Arial;
	font-weight:bold;
	color:#9b9b9b;
}
.tableCustom tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ffffff 5%, #dddddd 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #dddddd) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #dddddd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#dddddd");	background: -o-linear-gradient(top,#ffffff,dddddd);

	background-color:#ffffff;
}
.tableCustom tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.tableCustom tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}